@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  margin-bottom: 64px;
  height: 735px;
  background-image: url(img/topback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top__text {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 16px;
}

.catalog__top {
  margin-bottom: 64px;
  height: 400px;
  background-image: url(img/catalog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog__title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  margin-top: 127px;
  margin-bottom: 126px;
}

.catalog__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.head__link {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.head__link:not(:last-child)::after {
  content: "/";
  padding-left: 10px;
  padding-right: 10px;
}

.select {
  position: relative;
  width: 288px;
}

.select select {
  outline: none;
  width: 100%;
  display: block;
  padding-left: 14px;
  padding-right: 22px;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  border: 1px solid #C4C4C4;
  height: 41px;
}

.select:after {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 45%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px;
  background-image: url(img/Polygon\ 1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 11px;
}

.more {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  margin-top: 32px;
  margin-bottom: 64px;
}
.more:hover {
  color: #888888;
  text-decoration: none;
}

.link {
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.header__input {
  width: 288px;
  height: 41px;
  border-radius: 20px;
  border: 1px solid #FFF;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  font-family: Montserrat;
}

.header__input::-moz-placeholder {
  color: #FFFFFF;
}

.header__input::placeholder {
  color: #FFFFFF;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.product__box {
  background: #ffffff;
}

.menu {
  display: flex;
  gap: 32px;
}
.menu-mob {
  display: none;
}
.menu__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
}
.menu__link:hover {
  text-decoration-line: underline;
}

.title {
  margin-top: 64px;
  margin-bottom: 16px;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  max-width: 792px;
}

.heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
  font-style: normal;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  grid-column: span 4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url(img/for-1.jpg);
}

.for__item_2 {
  background-image: url(img/for-2.jpg);
}

.for__item_3 {
  background-image: url(img/for-3.jpg);
}

.for__item_4 {
  background-image: url(img/for-4.jpg);
}

.for__item_5 {
  background-image: url(img/for-5.jpg);
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  padding: 16px;
  box-sizing: border-box;
}
.product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #ccc;
}

.product__img {
  width: 100%;
}

.product__box {
  padding-top: 57px;
}

.product__content {
  margin-top: 32px;
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
}
.product__content_catalog {
  row-gap: 56px;
}

.product__heading {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.product__text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
  font-weight: 400;
}

.product__box-price {
  display: flex;
  gap: 32px;
}

.product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  font-style: normal;
}

.product__sale {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.box__link {
  padding-top: 23px;
  padding-bottom: 64px;
}

.link-go {
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  font-size: 16px;
}
.link-go:hover {
  color: #888888;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
}

.footer__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer__logo {
  padding-bottom: 77px;
  align-self: start;
}

.footer__link:hover {
  text-decoration-line: underline;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.footer__content {
  width: 792px;
  display: flex;
  justify-content: space-between;
  /* gap: 84px;*/
  flex-wrap: wrap;
}

.footer__info {
  display: flex;
  gap: 129px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.svg {
  transition: all 1s;
}
.svg:hover path {
  fill: black;
}
.svg path {
  transition: all 1s;
}
.svg:hover {
  transform: scale(1.05);
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__text {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 4px;
}

.form__email {
  fill: #FFF;
  stroke-width: 1px;
  stroke: #C4C4C4;
  width: 275px;
  height: 46px;
  border-radius: 20px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
}
.form__email::-moz-placeholder {
  color: #C4C4C4;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__email::placeholder {
  color: #C4C4C4;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  line-height: 18px;
  color: #000000;
  transition: all 1s;
}
.form__button:hover {
  background: #000;
  color: #FFF;
}

@keyframes anim-but {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.top-cart {
  height: 400px;
  background-image: url(img/topcart.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-big {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart__name-box_text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__item {
  border-top: 0.5px solid #CACDD8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__name {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cart__text {
  color: #888;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart_price {
  color: #050505;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__right {
  border-radius: 6px;
  border: none;
  outline: none;
  background: #F7F6F6;
  width: 71px;
  height: 51px;
  color: var(--Color---7, #000);
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 210%;
}
.cart__form {
  padding-top: 42px;
  padding-left: 27px;
  padding-right: 32px;
  border-radius: 20px;
  background: #F7F6F6;
  height: 556px;
  grid-column: span 4;
}
.cart__form-box {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.cart__form-heading {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cart__form-text {
  outline: none;
  padding-bottom: 3px;
  font-family: Montserrat;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-bottom: 0.5px solid #CACDD8;
  background: transparent;
}
.cart__form-text::-moz-placeholder {
  color: #000;
}
.cart__form-text::placeholder {
  color: #000;
}
.cart__form-price {
  margin-top: 64px;
  margin-bottom: 18px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.cart__form-price_total {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__content {
  grid-column: span 8;
}
.cart__link-box {
  display: flex;
  gap: 30px;
}
.cart__link {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 210%;
  text-decoration-line: underline;
}
.cart__button-box {
  display: flex;
  gap: 7px;
  margin-top: 18px;
}
.cart__button {
  height: 37px;
  width: 200px;
  display: block;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  transition: background-color 1s;
}
.cart__button_form {
  margin: auto;
  align-self: center;
  width: 290px;
  animation: anim-but 2s ease-in-out 0s infinite normal forwards;
}
.cart__button:hover {
  background: #000;
  color: #FFF;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product__content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .product__content_catalog {
    row-gap: 30px;
  }
  .footer__logo {
    display: none;
  }
  .cart {
    grid-template-columns: repeat(8, 1fr);
    gap: 64px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    /* width: 345px;*/
  }
  .cart {
    grid-template-columns: repeat(8, 1fr);
    gap: 64px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .title {
    text-align: center;
    font-size: 48px;
  }
  .header {
    height: 57px;
    padding-top: 32px;
    border-bottom: none;
  }
  .header__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .logo__img {
    width: 99px;
  }
  .top {
    margin-bottom: 32px;
  }
  .top__text {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link {
    font-size: 14px;
  }
  .heading {
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    font-size: 28px;
    line-height: 34px;
    grid-column: 1/-1;
    height: 375px;
  }
  .for__item_big {
    height: 244px;
  }
  .product__box {
    padding-top: 48px;
  }
  .product__content {
    gap: 32px;
  }
  .product__heading {
    font-size: 18px;
    margin-bottom: 4px;
    margin-top: 9px;
  }
  .product__price {
    font-size: 18px;
  }
  .product__sale {
    font-size: 18px;
  }
  .product__img {
    height: 226px;
  }
  .box__link {
    height: 24px;
    padding-top: 36px;
    padding-bottom: 32px;
  }
  .footer {
    padding-bottom: 32px;
  }
  .footer__content {
    justify-content: center;
    gap: 34px;
  }
  .footer__info {
    gap: 100px;
  }
  .catalog__top {
    margin-bottom: 32px;
  }
  .catalog__title {
    font-size: 48px;
    line-height: normal;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 170px;
  }
  .catalog__nav {
    flex-direction: column;
    gap: 16px;
  }
  .head__link {
    font-size: 14px;
    line-height: 32px;
  }
  .select select {
    font-size: 14px;
  }
  .more {
    margin-top: 18px;
    margin-bottom: 32px;
  }
  /*Корзина*/
  .heading-big {
    font-size: 48px;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 170px;
  }
  .cart {
    grid-template-columns: repeat(4, 1fr);
    gap: 64px;
    margin-top: 92px;
  }
  .cart__content {
    grid-column: span 4;
  }
  .cart__name-box {
    display: none;
  }
  .cart_img {
    display: none;
  }
  .cart__info {
    gap: 8px;
  }
  .cart__info_heading {
    font-size: 18px;
  }
  .cart__info_text {
    font-size: 12px;
    padding-bottom: 7px;
  }
  .cart__info_price {
    font-size: 12px;
    padding-bottom: 7px;
  }
  .cart__form {
    grid-column: span 4;
  }
  .cart__button {
    width: 166px;
    height: 37px;
    font-size: 12px;
  }
  .cart__button-box {
    margin-top: 8px;
  }
  .cart__button_form {
    font-size: 16px;
    width: 290px;
    height: 41px;
  }
  .cart__form {
    margin-top: 16px;
    height: 556px;
  }
}/*# sourceMappingURL=style.css.map */